<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <% if (messages.success) { %>
        <p class="alert" style="background-color: green; font-size: larger;"><%- messages.success %></p>
        <% } %>
          <% if (messages.warn) { %>
            <p class="alert" style="background-color: red; font-size: larger;"><%- messages.warn %></p>
            <% } %>
    <form id="delete" action="remove" method="post"></form>
    <form id="manage" action="success" method="post"></form>
    <form action="task" method="post">
        <center>
            <h3 class="cls">MY TO DO LIST</h3>
            <div class="container2">
                <input class="txt" type="text" name="work" placeholder="Add Task...">
                <center><button class="btn">Add</button></center>
                <input class="txt" type="text" name="lVal" form="delete" placeholder="Enter Task to remove...">
                <center><button form="delete" class="btn">Remove</button></center>
                <input class="txt" type="text" name="editText" form="manage" placeholder="Enter Completed task...">
                <center><button form="manage" class="btn">Done</button></center>
            </div>
        </center>
        <center>
            <table class="table" border="1px" form="delete">
                <thead>
                    <tr>
                        <!-- <th scope="col">Srno.</th> -->
                        <th width="20%">Date</th>
                        <th width="60%">Task</th>
                        <th width="20%">status</th>
                    </tr>
                </thead>
                <tbody>
                    <% if(data.length){ for(var i=0; i< data.length; i++) {%>
                        <tr>
                            <!-- <th scope="row"><%= (i+1) %></th> -->
                            <td>
                                <%= data[i].date%>
                            </td>
                            <td>
                                <%= data[i].task%>
                            </td>
                            <td>
                                <%= data[i].flag%>
                            </td>
                        </tr>
                        <% } }else{ %>
                            <tr>
                                <td colspan="3">No Record</td>
                            </tr>
                            <% } %>
            </table>
            &nbsp;
            <h2>COMPLETED</h2>

            <table class="table" border="1px" form="delete">
                <thead>
                    <tr>
                        <!-- <th scope="col">Srno.</th> -->
                        <th width="20%">Date</th>
                        <th width="60%">Task</th>
                        <th width="20%">status</th>
                    </tr>
                </thead>
                <tbody>
                    <% if(data2.length){ for(var i=0; i< data2.length; i++) {%>
                        <tr>
                            <!-- <th scope="row"><%= (i+1) %></th> -->
                            <td>
                                <%= data2[i].date%>
                            </td>
                            <td>
                                <%= data2[i].task%>
                            </td>
                            <td>
                                <%= data2[i].flag%>
                            </td>
                        </tr>
                        <% } }else{ %>
                            <tr>
                                <td colspan="3">No Record</td>
                            </tr>
                            <% } %>
            </table>
        </center>
    </form>
</body>

</html>